
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.slide-16-9-2-XV1 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-xyp3-e3q {
    width: 100%;
    height: 205.0927rem;
    position: relative;
    flex-shrink: 0;

    .hero-section-bg-B3m {
      top: 9.8rem;
      background-color: #f5f7fa;
      width: 192rem;
      height: 66.1rem;
      position: absolute;
      left: 0;
    }
    .navigation-bar-6Rd {
      width: 192rem;
      height: 10.9rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 1rem 1.55rem rgba(0, 0, 0, 0.2800000012);
      background-color: #2194f3;
    }
    .goo-businesses-1-oqq {
      width: 16.4rem;
      height: 8.2rem;
      position: absolute;
      left: 9.6rem;
      top: 1.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .cover-section-wSF {
      left: 9.6rem;
      top: 23.5rem;
      width: 66.4rem;
      height: 38.1rem;
      position: absolute;

      .become-a-proficient-graphic-designer-and-get-hired-sao {
        line-height: 1.2560395109;
        color: #000000;
        font-family: Clash Display, 'Source Sans Pro';
        margin-bottom: 1.8rem;
        max-width: 60.1rem;
        font-size: 7rem;
        font-weight: 600;

        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-0 {
          font-size: 7rem;
          font-weight: 600;
          line-height: 1.2560395109;
          color: #4d4d4d;
          font-family: Clash Display, 'Source Sans Pro';
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-1 {
          color: #2194f3;
          font-family: Clash Display, 'Source Sans Pro';
          font-size: 7rem;
          font-weight: 600;
          line-height: 1.2560395109;
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-2 {
          font-weight: 600;
          line-height: 1.2560395109;
          color: #000000;
          font-family: Clash Display, 'Source Sans Pro';
          font-size: 7rem;
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-3 {
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-4 {
          font-size: 7rem;
          font-weight: 600;
          line-height: 1.2560395109;
          color: #4d4d4d;
          font-family: Clash Display, 'Source Sans Pro';
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-5 {
        }
        .become-a-proficient-graphic-designer-and-get-hired-sao-sub-6 {
          font-family: Clash Display, 'Source Sans Pro';
          font-size: 7rem;
          font-weight: 600;
          line-height: 1.2560395109;
          color: #de3163;
        }
      }
      .learn-graphic-design-and-secure-a-job-within-our-growing-team-Tsm {
        max-width: 66.4rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2285714149;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .form-mNf {
      width: 99.8rem;
      left: 9.6rem;
      top: 83.2rem;
      box-shadow: 0.6854rem 0.3427rem 1.7134rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      height: 121.8927rem;
      position: absolute;
      border: solid 0.0857rem #4d4d4d;
      box-sizing: border-box;
      border-radius: 1.7134rem;

      .enroll-now-gVd {
        width: 22.2rem;
        height: 5.3rem;
        position: absolute;
        white-space: nowrap;
        line-height: 1.2285713726;
        text-decoration-line: underline;
        color: #2194f3;
        font-family: Poppins, 'Source Sans Pro';
        left: 35.5rem;
        top: 3.7062rem;
        font-size: 4.2836rem;
        font-weight: 500;
      }
      .your-name--BhH {
        color: #4d4d4d;
        white-space: nowrap;
        width: 18.1rem;
        font-size: 2.9985rem;
        left: 3.8rem;
        top: 12.5187rem;
        font-weight: 400;
        line-height: 1.2285714704;
        font-family: Poppins, 'Source Sans Pro';
        height: 3.7rem;
        position: absolute;
      }
      .mobile-number--UgP {
        white-space: nowrap;
        height: 3.7rem;
        position: absolute;
        left: 3.8rem;
        line-height: 1.2285714704;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        width: 24.3rem;
        top: 25.0374rem;
        font-size: 2.9985rem;
        font-weight: 400;
      }
      .email-address--bFD {
        top: 37.5561rem;
        font-size: 2.9985rem;
        color: #4d4d4d;
        white-space: nowrap;
        width: 22.6rem;
        height: 3.7rem;
        position: absolute;
        font-family: Poppins, 'Source Sans Pro';
        left: 3.8rem;
        font-weight: 400;
        line-height: 1.2285714704;
      }
      .your-age--u11 {
        color: #4d4d4d;
        white-space: nowrap;
        height: 3.7rem;
        left: 3.8rem;
        top: 50.0748rem;
        font-size: 2.9985rem;
        font-weight: 400;
        line-height: 1.2285714704;
        width: 14.9rem;
        position: absolute;
        font-family: Poppins, 'Source Sans Pro';
      }
      .choose-your-gender--DXV {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        top: 62.5935rem;
        height: 3.7rem;
        position: absolute;
        left: 3.8rem;
        font-size: 2.9985rem;
        line-height: 1.2285714704;
        color: #4d4d4d;
        white-space: nowrap;
        width: 32.4rem;
      }
      .which-course-are-you-interested-in--XYB {
        left: 3.8rem;
        top: 75.1122rem;
        font-weight: 400;
        line-height: 1.2285714704;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        height: 3.7rem;
        font-size: 2.9985rem;
        white-space: nowrap;
        width: 53.3rem;
      }
      .level-of-education--Dvo {
        height: 3.7rem;
        top: 87.631rem;
        font-size: 2.9985rem;
        line-height: 1.2285714704;
        white-space: nowrap;
        width: 28.4rem;
        position: absolute;
        left: 3.8rem;
        font-weight: 400;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
      }
      .enter-referral-code-optional--LEj {
        left: 3.8rem;
        font-size: 2.9985rem;
        line-height: 1.2285714704;
        white-space: nowrap;
        position: absolute;
        height: 3.7rem;
        top: 100.1497rem;
        font-weight: 400;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        width: 46.6rem;
      }
      .rectangle-1-Equ {
        width: 89.3rem;
        position: absolute;
        left: 3.8rem;
        top: 16.8014rem;
        border: solid 0.0857rem #000000;
        background-color: #ffffff;
        height: 4.8592rem;
        box-sizing: border-box;
        border-radius: 1.2851rem;
      }
      .rectangle-2-k3Z {
        position: absolute;
        left: 3.8rem;
        top: 29.3201rem;
        background-color: #ffffff;
        border-radius: 1.2851rem;
        height: 4.8592rem;
        border: solid 0.0857rem #000000;
        box-sizing: border-box;
        width: 89.3rem;
      }
      .rectangle-3-4a3 {
        width: 89.3rem;
        top: 41.8388rem;
        border: solid 0.0857rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1.2851rem;
        height: 4.8592rem;
        position: absolute;
        left: 3.8rem;
      }
      .rectangle-4-yh1 {
        width: 89.3rem;
        top: 54.3575rem;
        border: solid 0.0857rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        height: 4.8592rem;
        position: absolute;
        left: 3.8rem;
        border-radius: 1.2851rem;
      }
      .rectangle-5-3wm {
        border-radius: 1.2851rem;
        width: 89.3rem;
        box-sizing: border-box;
        background-color: #ffffff;
        top: 66.8763rem;
        border: solid 0.0857rem #000000;
        height: 4.8592rem;
        position: absolute;
        left: 3.8rem;
      }
      .rectangle-6-vkf {
        position: absolute;
        top: 79.395rem;
        border-radius: 1.2851rem;
        background-color: #ffffff;
        width: 89.3rem;
        height: 4.8592rem;
        left: 3.8rem;
        border: solid 0.0857rem #000000;
        box-sizing: border-box;
      }
      .rectangle-7-Cy5 {
        border: solid 0.0857rem #000000;
        position: absolute;
        top: 91.9137rem;
        left: 3.8rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1.2851rem;
        width: 89.3rem;
        height: 4.8592rem;
      }
      .rectangle-8-frf {
        left: 3.8rem;
        background-color: #ffffff;
        border-radius: 1.2851rem;
        box-sizing: border-box;
        width: 89.3rem;
        height: 4.8592rem;
        position: absolute;
        top: 104.4324rem;
        border: solid 0.0857rem #000000;
      }
      .auto-group-uqjm-jbd {
        font-family: Poppins, 'Source Sans Pro';
        height: 5.7652rem;
        top: 112.6684rem;
        display: flex;
        align-items: center;
        width: 26.4rem;
        line-height: 1.2285714704;
        justify-content: center;
        background-color: #2194f3;
        position: absolute;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
        border-radius: 1.2851rem;
        left: 66.7rem;
        font-size: 2.9985rem;
      }
    }
    .course-details-hB5 {
      width: 55.4rem;
      height: 83.8rem;
      position: absolute;
      left: 126.8rem;
      top: 104.6rem;

      .auto-group-yokd-DQK {
        margin: 0rem 18.8rem 9.7rem 0rem;
        width: calc(100% - 18.8rem);
        height: 9.6rem;
        display: flex;
        align-items: center;

        .checked-laptop-j7m {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.7rem;
          width: 9.6rem;
          height: 9.6rem;
          object-fit: contain;
        }
        .auto-group-fjcs-fGK {
          margin: 1.1rem 0rem 1.7rem 0rem;
          height: calc(100% - 2.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .batch-starting-zJb {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2285714467;
            color: #4d4d4d;
          }
          .feb-2024-7e7 {
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2285713959;
          }
        }
      }
      .auto-group-jekq-FVR {
        margin: 0rem 27.5rem 9.7rem 0rem;
        width: calc(100% - 27.5rem);
        height: 9.6rem;
        display: flex;
        align-items: center;

        .timesheet-B8B {
          height: 9.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.7rem;
          width: 9.6rem;
        }
        .auto-group-vbqz-KVH {
          height: calc(100% - 2.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.1rem 0rem 1.7rem 0rem;

          .duration-SZu {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2285714467;
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .months-Pk3 {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2285713959;
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-xwcw-inK {
        margin: 0rem 22.7rem 9.7rem 0rem;
        width: calc(100% - 22.7rem);
        display: flex;
        align-items: flex-end;

        .money-bag-rupee-evs {
          margin-right: 4.7rem;
          width: 9.6rem;
          height: 9.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-orwh-o35 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.6rem;

          .price-M4b {
            font-weight: 700;
            line-height: 1.2285714467;
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
          }
          .rs299-month-Hyq {
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2285713959;
          }
        }
      }
      .auto-group-hnat-dXu {
        width: calc(100% - 26.9rem);
        height: 9.6rem;
        display: flex;
        align-items: center;
        margin: 0rem 26.9rem 6.4rem 0rem;

        .people-m8K {
          flex-shrink: 0;
          margin-right: 4.7rem;
          width: 9.6rem;
          height: 9.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-n8ek-hXm {
          margin: 2rem 0rem 0.8rem 0rem;
          height: calc(100% - 2.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .eligibility-dwD {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2285714467;
            color: #4d4d4d;
          }
          .th-pass-zFy {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2285713959;
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .note-our-courses-are-free-to-enroll-but-a-nominal-service-charge-applies-for-just-299-per-month-youll-gain-access-to-our-comprehensive-curriculum-projects-and-resources-you-can-cancel-the-course-at-anytime-LKq {
        font-weight: 400;
        line-height: 1.2285714149;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        max-width: 55.4rem;
        font-size: 2rem;
      }
    }
    .https-lottiefilescom-animations-graphic-designer-working-animation-siuwz0ooje-Mkj {
      height: 78.4rem;
      position: absolute;
      left: 96.3rem;
      top: 6.75rem;
      object-fit: contain;
      vertical-align: top;
      width: 78.4rem;
    }
  }
  .auto-group-5xnf-qR1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15.207rem 9.6rem 11.4rem 9.6rem;
    width: 100%;

    .rectangle-10-m3m {
      background-color: rgba(0, 0, 0, 0.4799999893);
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 11rem;
      width: 100%;
      height: 0.3rem;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-6fsm-edM {
      margin-right: 0.4rem;
      width: calc(100% - 0.4rem);
      height: 61.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-11-aX1 {
        margin-right: 14.6rem;
        height: 61.1rem;
        background-color: #d9d9d9;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 2rem;
        width: 85.2rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:62daf68507d506d2ea4427c6ea553d336b584763');
        flex-shrink: 0;
      }
      .auto-group-gylf-tXh {
        flex-shrink: 0;
        margin: 4.9rem 0rem 2.3rem 0rem;
        height: calc(100% - 7.2rem);
        display: flex;
        flex-direction: column;

        .employment-opportunity-pgF {
          color: #4d4d4d;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 700;
          text-decoration-line: underline;
          line-height: 1.2285713959;
          white-space: nowrap;
          margin-bottom: 3.4rem;
          font-size: 5rem;

          .employment-opportunity-pgF-sub-0 {
            color: #2194f3;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2285713959;
            text-decoration-line: underline;
          }
          .employment-opportunity-pgF-sub-1 {
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2285713959;
            text-decoration-line: underline;
            color: #4d4d4d;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .successful-completion-of-our-courses-opens-the-door-to-exciting-career-opportunities-within-our-company-our-top-performers-have-the-chance-to-join-our-team-and-work-on-cutting-edge-projects-alongside-seasoned-professionals-at-goo-business-we-value-talent-and-dedication-thats-why-we-prioritize-hiring-from-within-our-pool-of-course-graduates-if-you-perform-well-and-demonstrate-your-skills-you-could-find-yourself-with-a-rewarding-career-right-here-with-us-HTM {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 72.6rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2285714467;
          color: #4d4d4d;
        }
      }
    }
  }
  .auto-group-5gxz-cGf {
    width: 100%;
    height: 38.6rem;
    position: relative;
    flex-shrink: 0;

    .group-1-ZSo {
      left: 0;
      top: 0.1rem;
      width: 192.2rem;
      height: 38.5rem;
      position: absolute;

      .rectangle-13-tV5 {
        top: 0;
        background-color: #f5f7fa;
        width: 192.2rem;
        height: 35.3rem;
        position: absolute;
        left: 0;
      }
      .at-goo-business-were-on-a-mission-to-bridge-the-gap-between-demand-and-supply-in-graphic-designing-faced-with-the-challenge-of-finding-skilled-developers-for-our-projects-we-decided-to-take-matters-into-our-own-hands-by-offering-comprehensive-graphic-designing-courses-dhZ {
        left: 12.05rem;
        top: 16.5rem;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 500;
        width: 167.9rem;
        height: 21.5rem;
        position: absolute;
        line-height: 1.2285714286;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
      }
      .our-agenda-M1H {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        top: 4.3rem;
        font-weight: 700;
        text-decoration-line: underline;
        color: #2194f3;
        font-size: 7rem;
        position: absolute;
        left: 73.9rem;
        line-height: 1.2285714286;
        display: flex;
        align-items: baseline;
        height: 8.6rem;
        width: 42.5rem;

        .our-agenda-M1H-sub-0 {
        }
        .our-agenda-M1H-sub-1 {
          font-weight: 700;
          line-height: 1.2285714286;
          text-decoration-line: underline;
          color: #4d4d4d;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 7rem;
        }
      }
      .rectangle-13-tfR {
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.4799999893);
        border-radius: 0.5rem;
        width: 172.8rem;
        height: 0.3rem;
        position: absolute;
        left: 9.6rem;
        top: 35.1rem;
      }
    }
    .rectangle-12-ao9 {
      top: 0;
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
      background-color: rgba(0, 0, 0, 0.4799999893);
      border-radius: 0.5rem;
      width: 172.8rem;
      height: 0.3rem;
      position: absolute;
      left: 9.6rem;
    }
  }
  .auto-group-lbgk-VfD {
    box-sizing: border-box;
    padding-top: 2.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-eh75-dWX {
      height: 84.2rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 9.6rem 1.1rem 9.6rem;
      width: calc(100% - 19.2rem);

      .colleagues-discussing-the-project-jJf {
        background-size: 106.717% 63.049%;
        background-position: -0rem 15.5565rem;
        background-image: url('REPLACE_IMAGE:c747214af8e120ca0790fb6930077960f2f549e8');
        width: 85.2rem;
        height: 84.2rem;
        position: relative;
        left: 87.6rem;
        top: 0;
      }
      .real-world-project-experience-Qvb {
        position: absolute;
        top: 3.6rem;
        color: #2194f3;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 107.4rem;
        font-size: 7rem;
        line-height: 1.2285714286;
        text-decoration-line: underline;
        left: 0;
        font-weight: 700;
        display: flex;
        align-items: baseline;
        height: 8.6rem;

        .real-world-project-experience-Qvb-sub-0 {
        }
        .real-world-project-experience-Qvb-sub-1 {
          color: #4d4d4d;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.2285714286;
          text-decoration-line: underline;
        }
      }
      .ok-9Wo {
        position: absolute;
        left: 2.6rem;
        top: 19.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.8rem;
        height: 6.8rem;
      }
      .ok-59Z {
        position: absolute;
        left: 2.6rem;
        top: 32.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.8rem;
        height: 6.8rem;
      }
      .ok-1J7 {
        position: absolute;
        left: 2.6rem;
        top: 45.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.8rem;
        height: 6.8rem;
      }
      .ok-YYw {
        width: 6.8rem;
        height: 6.8rem;
        position: absolute;
        left: 2.6rem;
        top: 58.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gain-hands-on-experience-with-industry-relevant-projects-HFd {
        left: 12.2rem;
        top: 19.8rem;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        width: 70.8rem;
        height: 8.6rem;
        position: absolute;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.2285714286;
      }
      .apply-your-newly-acquired-skills-to-solve-real-world-challenges-yPM {
        font-weight: 500;
        line-height: 1.2285714286;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 12.2rem;
        top: 32.6rem;
        color: #4d4d4d;
        width: 71.8rem;
        height: 8.6rem;
        font-size: 3.5rem;
      }
      .receive-feedback-and-guidance-from-industry-experts-as-you-work-on-projects-4vb {
        line-height: 1.2285714286;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        top: 45.4rem;
        font-weight: 500;
        position: absolute;
        left: 12.2rem;
        font-size: 3.5rem;
        width: 71.7rem;
        height: 8.6rem;
      }
      .collaborate-with-peers-and-mentors-to-develop-practical-solutions-ZcT {
        position: absolute;
        left: 12.2rem;
        font-size: 3.5rem;
        font-weight: 500;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
        width: 68.2rem;
        top: 58.2rem;
        line-height: 1.2285714286;
        height: 8.6rem;
      }
    }
    .tools-covered-4JK {
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2285714286;
      text-decoration-line: underline;
      white-space: nowrap;
      margin: 0rem 1.8rem 4.4rem 0rem;
      font-size: 7rem;
      color: #2194f3;
      font-family: Poppins, 'Source Sans Pro';

      .tools-covered-4JK-sub-0 {
      }
      .tools-covered-4JK-sub-1 {
        font-size: 7rem;
        font-weight: 700;
        line-height: 1.2285714286;
        text-decoration-line: underline;
        color: #4d4d4d;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-sjsz-T5Z {
      width: calc(100% - 112rem);
      height: 28.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 54.9rem 15.1rem 57.1rem;

      .auto-group-8ojx-B1Z {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 27.7rem;

        .https-lottiefilescom-animations-adobe-photoshop-qpfg6ww8vb-KdZ {
          top: 0;
          overflow: hidden;
          width: 27.7rem;
          height: 27.7rem;
          position: absolute;
          left: 0;

          .clip-path-group-SiB {
            object-fit: contain;
            vertical-align: top;
            width: 27.7rem;
            height: 27.7rem;
            position: relative;
          }
        }
        .photoshop-nGF {
          width: 18.9rem;
          height: 4.3rem;
          position: absolute;
          top: 24.3rem;
          font-weight: 500;
          white-space: nowrap;
          left: 3.7rem;
          font-size: 3.5rem;
          line-height: 1.2285714286;
          color: #4d4d4d;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-xzp1-623 {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.299rem 0rem 0rem 0.5rem;
        height: 100%;

        .auto-group-zyg7-Cqm {
          position: relative;
          flex-shrink: 0;
          margin-right: 6.3rem;
          width: 29.3rem;
          height: 100%;

          .https-lottiefilescom-animations-adobe-illustrator-yucke1jlou-Yud {
            width: 25.8068rem;
            height: 25.8068rem;
            position: absolute;
            left: 1.4986rem;
            top: 0;
            overflow: hidden;

            .group-fjM {
              padding: 4.386rem 4.151rem 4.435rem 4.193rem;
              width: 100%;
              height: 100%;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:addf748139259f16fff8cf8eb0c526f0f2d8271d');
              box-sizing: border-box;

              .group-QB9 {
                background-position: center;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-image: url('REPLACE_IMAGE:98:1517');
                background-repeat: no-repeat;

                .mask-group-m1h {
                  width: 17.4628rem;
                  height: 16.986rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
                .group-QB9-bg {
                  width: 17.4628rem;
                  height: 16.986rem;
                  position: relative;
                  background-image: url('REPLACE_IMAGE:ac2f2c8902bfb874c009d05af74e1c90d31e6a53');
                }
              }
              .group-fjM-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:addf748139259f16fff8cf8eb0c526f0f2d8271d');
                width: 25.8068rem;
                height: 25.8068rem;
              }
            }
          }
          .adobe-illustrator-syq {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 1.2285714286;
            color: #4d4d4d;
            top: 23.0014rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 29.3rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
          }
        }
        .auto-group-s3yz-PSP {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .https-lottiefilescom-animations-figma-to-webflow-1noabr7kvp-wTu {
            height: 16rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            width: 16.2rem;
          }
          .figma-r55 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 1.4rem;
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 1.2285714286;
            color: #4d4d4d;
          }
        }
      }
    }
    .footer-xto {
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: calc(100% - 1.2rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-cro5-Jhm {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 13rem 9rem 15.4rem;
        width: 100%;
        align-items: center;
        display: flex;

        .are-you-ready-to-dive-into-the-creative-realm-of-graphic-design-and-embark-on-a-rewarding-journey-to-master-the-artistry-of-visual-communication-39Z {
          margin-bottom: 7.9rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.45;
          color: #4d4d4d;
          max-width: 163.6rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-momh-VnF {
          margin: 0rem 1.4rem 4rem 52.6rem;
          width: calc(100% - 54rem);
          height: 10.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-jmyk-pZd {
            background-color: #2194f3;
            white-space: nowrap;
            display: flex;
            box-shadow: 0.6rem 1rem 1.5rem rgba(0, 0, 0, 0.25);
            color: #ffffff;
            align-items: center;
            flex-shrink: 0;
            width: 56rem;
            font-size: 5rem;
            font-weight: 800;
            margin-right: 2.4rem;
            line-height: 1.45;
            border-radius: 1.5rem;
            height: 100%;
            font-family: Poppins, 'Source Sans Pro';
            justify-content: center;
          }
          .navigate-this-button-to-formenroll-now-section-gbq {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.45;
            color: rgba(77, 77, 77, 0.4300000072);
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .so-i-can-get-a-well-paying-it-job-under-6-months-C4P {
          color: #de3163;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 3rem;
          font-weight: 500;
          line-height: 1.45;
        }
      }
      .auto-group-bhmh-JdD {
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #263238;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.3rem 67.5rem 14.8rem 67.4rem;
        width: 100%;

        .goo-businesses-2-DkB {
          width: 16.4rem;
          height: 8.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 3.5rem 0.1rem;
        }
        .barakaimari-coochbehar-west-bengal-india-jyR {
          font-weight: 500;
          line-height: 1.45;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
        }
      }
    }
  }
}
